<div class="page-header">
  <div class="col-sm-6 col-md-6 col-lg-4">
        <% if current_user.is_checked_in == true %>
        <% @ci = Checkin.where({ :user_id => current_user.id}) %>
          <% if @ci.present? %>
            <p>You're checked in @ <strong><a href="/venues/<%= @ci.last.venue.try(:id) %>"><%= @ci.last.venue.try(:name) %></a></strong></p>
            <p><%= image_tag current_user.avatar, height: '50px', width: '50px', :class => 'img-circle' %>
            <%= image_tag @ci.last.venue.try(:image), height: '50px', width: '50px', :class => 'img-circle' %></p>
          <% end %>
        <% else %>
          <p align="left"><h6>You're not currently checked in to a bar. Check in below:</h6></p>
        <% end %>
    </div>
      <h3>Song List</h3>
      <p>Click<%#= link_to icon('play-circle') %> the blue button to select a track.
      <% if current_user.is_admin == true or current_user.email == 'philmaclin@gmail.com'  %>
        <%= link_to icon('music'), new_song_path, class: "btn btn-lg btn-success" %>
      <% else %>
        <i class="fa fa-music fa-1x"></i></p>
      <% end %>
<!--     </div> -->
</div>

<!-- Responsive, Isotope-based layout example -->

<div class="row">
  <div class="col-xs-12">
    <input type="text" id="quicksearch" placeholder="Start typing to find your track" class="form-control">
  </div>
</div>

<hr>

<div class="row isotope-container">
<% @songs.each do |song| %>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">"<%= song.title %>" by <%= song.artist %> | <%= song.genre %></h3>
      </div>
      <div class="panel-body">
        <dl>

          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <%= image_tag song.art, :height => '70px', :width => '70px', :class => 'img-circle'  %>
          </div>
<!--           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <i class="fa fa-music fa-1x"></i> "<%= song.title %>" | <%= song.genre %>
          </div> -->

        </dl>
        <div class="col-xs-6 col-xs-offset-2 col-sm-6 col-sm-offset-2 col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-2">
          <div class="btn-group btn-group-justified">
            <%= link_to "Request track", song, class: "btn btn-primary" %>

            <% if current_user.is_admin == true or current_user.email == 'philmaclin@gmail.com' %>
              <%= link_to icon('edit'), edit_song_url(song), class: "btn btn-warning" %>
              <%= link_to icon('trash-o'), song, method: :delete, data: { confirm: "Do you really want to delete this song?" }, class: "btn btn-danger" %>
            <% else %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>

<!-- JavaScript for Isotope layout and quicksearch -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
<script>
  $(function() {
    // quick search regex
    var qsRegex;

    // init Isotope
    var $container = $('.isotope-container');

    $container.imagesLoaded(function() {
      $container.isotope({
        itemSelector: '.isotope-item',
        layoutMode: 'masonry',
        filter: function() {
          return qsRegex ? $(this).text().match( qsRegex ) : true;
        }
      })
    });

    // use value of search field to filter
    var $quicksearch = $('#quicksearch').keyup( debounce( function() {
      qsRegex = new RegExp( $quicksearch.val(), 'gi' );
      $container.isotope();
    }, 200 ) );

  });

  // debounce so filtering doesn't happen every millisecond
  function debounce( fn, threshold ) {
    var timeout;
    return function debounced() {
      if ( timeout ) {
        clearTimeout( timeout );
      }
      function delayed() {
        fn();
        timeout = null;
      }
      timeout = setTimeout( delayed, threshold || 100 );
    }
  }
</script>

<!-- End responsive, Isotope-based layout example -->
