<style>
/* body {
    background-image: url("#");
    background-color: #e1e1ea;
  }*/

/* Social Section */
#social-section {
  background-color: #0dbf9b;
  padding: 5px 5px 0px 40px;
  margin: 0px;
/*  text-align: center;*/
/*  position: relative;*/
/*  left: 10px;*/
}
#social-section .social ul li {
  display: inline-block;
  margin: 5px 5px 5px 5px;
  text-align: center;
}
#social-section .social i.fa {
  font-size: 20px;
  padding: 0px 0px 0px 0px;
  color: #fff;
  margin: 5px 5px 5px 5px;
 /* transition: all 0.5s;*/
}
#social-section .social i.fa:hover {
  color: #666;
}

/* Footer */
#footer {
  background-color: #000000;
  color: #777;
  padding: 5px 5px 0px 5;
  margin: 0px;
  /*position: fixed;*/
  /*width: 100%;*/
  text-align: center;
}
#footer p {
  font-size: 13px;
  margin-top: 10px;
  padding: 5px 5px 5px 15px;
}
#footer a {
  color: #999;
}
</style>

<div class="container">

<div class="row">
<!-- Left Column -->
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" align="center">
    <h2 align="center">Karaoke <em>3.0</em></h2>

        <br><br>
      <%= image_tag "london_karaoke.jpg", :height => '50%', :width => '85%', :class => 'img-circle', :alt => 'Karaoke Singers' %>
  </div>
    <br>
    <br>

<!-- Right Column -->
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
  <h4 align="left">Log in</h4>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email, required: false, autofocus: true %>
        <%= f.input :password, required: false %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>

</div>

</div>

<hr>

<!-- SOCIAL SECTION -->
<div id="social-section">
  <div class="container">
    <div class="social">
    <!-- <p>some words</p> -->
      <ul>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<!-- FOOTER SECTION -->
<div id="footer">
  <div class="container">
    <div class="overlay">
      <div class="row" >
      <p>&copy; 2016 Shareaoke.com</p>
<!--       <ul>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
      </ul> -->
      </div>
    </div>
  </div>
</div>

