<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Review #<%= @review.id %> from performance # <%= @review.performance.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">

              <dt>Performer</dt>
              <dd><%= @review.performance.user.stagename %></dd>

              <dt>Headline:</dt>
              <dd><%= @review.headline %></dd>

              <dt>Detail:</dt>
              <dd><%= @review.content %></dd>
              <br>
              <dd><%= @review.user.stagename %> gives the performance a <%= @review.rating %> out of 5</dd>

              <dd><%#= @review.performance %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <%= link_to icon('chevron-left'), reviews_path, class: "btn btn-primary" %>

              <%= link_to icon('edit'), edit_review_path(@review), class: "btn btn-warning" %>

              <%= link_to icon('trash-o'), @review, method: :delete, data: { confirm: "Do you really want to delete this review?" }, class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->





